<%= form_for(@tipo_salida) do |f| %>
  <% if @tipo_salida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_salida.errors.count, "error") %> prohibited this tipo_salida from being saved:</h2>

      <ul>
      <% @tipo_salida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", :class => "btn btn-info btn-xs"%>
  </div>
<% end %>
