<%=simple_form_for(@enfermedad, :html => {:class => 'form­-horizontal', remote: true } ) do  |f| %>

  <% if @enfermedad.errors.any? %> 
      <div id="error_explanation"> 
       <h2><%= pluralize(@enfermedad.errors.count, "error")   %> prohibited this enfermedad from  
      being saved:</h2> 
       
  <ul> 
  <% @enfermedad.errors.full_messages.each do |message| %> 
  <li><%= message %></li> 
  <% end %> 
  </ul> 
  </div> 
<% end %> 

<div class="field">
    funcionarios <br>
    <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nombres, class: "form-control", prompt:
    "Seleccione Funcionario" %>
  </div>
 

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Descripción</label>  
    <div class="col­-md-­4"> 
       <%= f.input :descripcion, class: 'form­-control', :label => false %> 
    </div> 
   </div>


   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Fecha</label>  
    <div class="col­-md-­4"> 
       <%= f.text_field :fecha, class: 'datepicker' %>
        <script type="text/javascript">
         $('.datepicker').datepicker({
          language: "es",
          format: "yyyy/mm/dd",
          keyboardNavigation:false,
          forceParse:false,
          autoclose:true,
          todayHighlight:true,

        });
    </script>
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Codigo_de_diagnostico</label>  
    <div class="col­-md-­4"> 
       <%= f.input :codigodediagnostico, class: 'form­-control', :label => false %> 
    </div> 
   </div>

 <div class="field">
    <b>Tipo enfermedad<b> <br>
    <%= f.collection_select :tipoenfermedad_id, Tipoenfermedad.all, :id, :nombre, class: "form-control", prompt:
    "Seleccione Tipo enfermedad" %>
  </div>

<div class="form­-group"> 
   <div class="col­-sm­-offset­-2 col-­sm­-10"> 
   <%= f.submit "Guardar", class: "btn btn-info btn-xs" %> 
   <%= link_to 'Atras', enfermedads_path, class: "btn btn-default btn-xs" %>
   </div> 
</div> 
 
<% end %> 
