<div class='enfermedad'> 

<br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<div class="enfermedad">

<p id="notice"><%= notice %></p>

<p>
  <strong>Funcionario:</strong>
  <%= @enfermedad.funcionario.nombres rescue nil %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @enfermedad.descripcion %>
</p>

<p>
  <strong>fecha:</strong>
  <%= @enfermedad.fecha %>
</p>

<p>
  <strong>Codigo de diagnostico:</strong>
  <%= @enfermedad.codigodediagnostico %>
</p>

</div>

<%= button_to 'Editar', edit_enfermedad_path(@enfermedad),:method=>"get", class: "btn btn-primary btn-xs", remote: true  %>
<%= link_to 'Atras', enfermedads_path %>
<hr>
</div>