<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="INTERGER">id</Data></Cell> 
      <Cell><Data ss:Type="INTERGER">funcionario_id</Data></Cell> 
      <Cell><Data ss:Type="String">descripcion</Data></Cell> 
      <Cell><Data ss:Type="Date">fecha</Data></Cell> 
      <Cell><Data ss:Type="String">codigodediagnostico</Data></Cell> 
      <Cell><Data ss:Type="INTERGER">tipoenfermedad_id</Data></Cell> 
      </Row>
    <% @enfermedads.each do |enfermedads| %>
      <Row>
      <Cell><Data ss:Type="INTERGER"><%= enfermedad.id %></Data></Cell> 
      <Cell><Data ss:Type="INTERGER"><%= enfermedad .funcionario_id %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= enfermedad .descripcion %></Data></Cell> 
      <Cell><Data ss:Type="Date"><%= enfermedad .fecha %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= enfermedad .codigodediagnostico %></Data></Cell> 
      <Cell><Data ss:Type="INTERGER"><%= enfermedad.tipoenfermedad_id %></Data></Cell> 

       </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
