<tr id=<%= "cronograma_#{cronograma.id}" %>>
   <td><%= cronograma.fecha %></td>
   <td><%= cronograma.lugar_salida %></td>
   <td><%= cronograma.ficha_grupo %></td>
   <td><%= cronograma.tipo_salida_id %></td>
   <td><%= cronograma.programa %></td>
   <td><%= cronograma.descripcion %></td>
   <td><%= link_to 'Ver', cronograma %></td>
   <td><%= link_to 'Editar', edit_cronograma_path(cronograma), remote:true %></td>
   <td><%= link_to 'Eliminar', cronograma, method: :delete, data: { confirm: 'Esta Seguro?' }, remote:true %></td>
</tr>

