

<h1>Lista de centros</h1>

Ingrese fecha:
<%= text_field_tag :search, params[:search] %> 
<%= submit_tag "Buscar", :fecha => nil %> 
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>fecha</th>
      <th>lugar salida</th>
      <th>ficha grupo</th>
      <th>tipo salida</th>
      <th>programa</th>
      <th>descripcion</th>
      <th colspan="3"><%=t '.actions', :default => t("helpers.Acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @cronogramas %>
  </tbody>
</table>



<%= link_to 'Nuevo cronograma', new_cronograma_path, remote: true, 
    class: "btn btn-primary btn-xs" %> 
<br>


<%= will_paginate @cronogramas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Cronogramas: <%= @cronogramas.count %>
