<br><br><br>
<%=simple_form_for(@incapacidad, :html => {:class => 'form­horizontal', remote: true } ) do  |f| %>

  <% if @incapacidad.errors.any? %> 
  <div id="error_explanation"> 
    <h2><%= pluralize(@incapacidad.errors.count, "error") %> prohibited this incapacidad from  
      being saved:</h2>   
    <ul> 
      <% @incapacidad.errors.full_messages.each do |message| %> 
      <li><%= message %></li> 
      <% end %> 
    </ul> 
  </div> 

<% end %> 

<div class="field">
    funcionarios <br>
    <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nombres, class: "form-control", prompt:
    "Seleccione Funcionario" %>
  </div>

   <div class="field">
    <b>Tipo de incapacidad</b><br>
    <%= f.collection_select :tipoincapacidad_id, Tipoincapacidad.all, :id, :nombre, class: "form-control", prompt:
    "Seleccione tipo de incapacidad" %>
  </div>
 

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Fecha inicio</label>  
    <div class="col­-md-­4"> 
       <%= f.text_field :fechainicio, class: 'datepicker' %>
        <script type="text/javascript">
         $('.datepicker').datepicker({
          language: "es",
          format: "yyyy/mm/dd",
          keyboardNavigation:false,
          forceParse:false,
          autoclose:true,
          todayHighlight:true,

        });
    </script>
    </div> 
   </div>


   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Fecha terminacion</label>  
    <div class="col­-md-­4"> 
        <%= f.text_field :fechaterminacion, class: 'datepicker' %>
        <script type="text/javascript">
         $('.datepicker').datepicker({
          language: "es",
          format: "yyyy/mm/dd",
          keyboardNavigation:false,
          forceParse:false,
          autoclose:true,
          todayHighlight:true,

        });
    </script>
    </div> 
   </div>

  
 

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Total dias</label>  
    <div class="col­-md-­4"> 
       <%= f.input :totaldias, class: 'form­-control', :label => false %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Dias a cobrar</label>  
    <div class="col­-md-­4"> 
       <%= f.input :diasacobrar, class: 'form­-control', :label => false %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Prorroga</label>  
    <div class="col­-md-­4"> 
       <%= f.input :prorroga, class: 'form­-control', :label => false %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Numero inpacacidad</label>  
    <div class="col­-md-­4"> 
       <%= f.input :numeroinpacacidad, class: 'form­-control', :label => false %> 
    </div> 
   </div>

   <div class="form­-group"> 
    <label for="name" class="col-­sm-­3 control­-label">Origen de la incapacidad</label>  
    <div class="col­-md-­4"> 
       <%= f.input :origendelaincapacidad, class: 'form­-control', :label => false %> 
    </div> 
   </div>

 
<div class="form­-group"> 
   <div class="col­-sm­-offset­-2 col-­sm­-10"> 
   <%= f.submit "Guardar", class: "btn btn-info btn-xs" %> 
   <%= link_to 'Atras', incapacidads_path, class: "btn btn-default btn-xs" %>
   </div> 
</div> 
 

<% end %> 
