<div class="login">
<%= image_tag("Final.gif") %> 
</div>
 
 
  <div id="formlogin1">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><h3>Nuevo usuario</h3></p>

<div class="field">  
<%= f.label :email %><br />  
<%= f.text_field :email %> 
</div> 

<div class="field"> 
<%= f.label :password %><br />  
<%= f.password_field :password %>  
</div> 

<div class="field"> 
<%= f.label :password_confirmation %><br />  
<%= f.password_field :password_confirmation %> 
</div> 

<div class="actions">
  <%= f.submit "Guardar", class: "btn btn-info btn-xs" %>
  <%= link_to 'Ver', @user, class: "btn btn-success btn-xs" %> 
</div>
<div class="atrasediperfil">
<%= link_to 'Atras', users_path , class: "btn btn-default btn-xs" %>
</div>
<% end %>

</div>
