<% if can? :read, @user%>

<center class="fadeIn"><h1><b>USUARIOS REGISTRADOS </b></h1></center><br><br>

<table class="table table-bordered">
  <thead>
    <tr>
     <th>Nombre</th>
      <th>Documento</th>
      <th>Email</th>
      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre %></td>
         <td><%= user.documento %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Ver', user, class: "btn btn-success btn-xs" %></td>
          <% if user.email == 'sanowilingry@gmail.com'%>
          <td><p class="text-danger">-----------</p></td>
          <td><p class="text-danger">-----------</p></td>
          <% else %>
        
        <td><%= link_to 'Editar', edit_user_path(user), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger btn-xs" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_user_path, class: "btn btn-primary btn-xs" %>

<%end%>