<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Numero documento:</strong>
  <%= @user.documento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rol:</strong>
  <%= rol_usuario(@user.rol) %>
</p>




<%= link_to 'Editar', edit_user_path(@user), class: "btn btn-warning btn-xs" %> |
<%= link_to 'Atras', users_path, class: "btn btn-default btn-xs" %>
