<h1>Listing tiporiesgos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tiporiesgos.each do |tiporiesgo| %>
      <tr>
        <td><%= tiporiesgo.nombre %></td>
        <td><%= link_to 'Show', tiporiesgo %></td>
        <td><%= link_to 'Edit', edit_tiporiesgo_path(tiporiesgo) %></td>
        <td><%= link_to 'Destroy', tiporiesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiporiesgo', new_tiporiesgo_path %>
