<ul>
	<li><h3><a href="<%= join_path %>">Ruby on Rails desde Cero: ActiveRecord parte 2</a></h3></li>
	<li><h3><a href="<%= validation_path %>">Ruby on Rails desde cero: ActiveRecord Validaciones</a></h3></li>
	<li><h3><a href="<%= mensajes_path %>">Ruby on Rails desde cero: ActiveModel Validaciones y Serialización</a></h3></li>
	<li><h3><a href="<%= serializar_path %>">Ruby on Rails desde cero: Serializar Objetos (active_model_serializers) </a></h3></li>
	<li><h3><a href="<%= email_path %>"> Ruby on Rails desde Cero: Enviar emails (ActionMailer) </a></h3></li>



</ul>