<div class="contenido ">
  <div class="img1"></div>
  <div class="img2"></div>
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

    </ul>
  <div id="myTabContent" class="tab-contente">
    <div class="tab-pane fade active in cont1" id="inicio">
    <div id="fom">
          <p id="notice">
            <%= notice %>
          </p>
             
          <p>
            <strong>Titulo</strong>
            <%= @event.title %>
          </p>

          <p>
            <strong>Descripcion:</strong>
            <%= @event.description %>
          </p>

          <p>
            <strong>Empieza en:</strong>
            <%= @event.start %>
          </p>

          <p>
            <strong>Termina en:</strong>
            <%= @event.end %>
          </p>


     <% if can? :update, @event%>
       <%=link_to 'Editar', edit_event_path(@event), class: "btn btn-warning btn-xs", remote: true %>
    <%end%>
     
    <% if can? :destroy, @event%>
     <%=link_to 'Eliminar', event_path(@event), class: "btn btn-danger btn-xs", method: :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Esta Seguro?")) } %>
    <%end%>
     
      <%= link_to 'Atras', events_path, class: "btn btn-default btn-xs"%>


    </div>
<div>