
<%= simple_form_for(@incidente, :html => {:class => 'form­-horizontal' } ) do  |f| %>

  <% if @incidente.errors.any? %> 
      <div id="error_explanation"> 
       <h2><%= pluralize(@incidente.errors.count, "error") %> prohibited this incidente from  
      being saved:</h2> 
       
  <ul> 
  <% @incidente.errors.full_messages.each do |message| %> 
  <li><%= message %></li> 
  <% end %> 
  </ul> 
  </div> 
<% end %> 

<div class="formulario">

<h5><b>SISTEMA INTEGRADO DE GESTIÓN REPORTE INCIDENTE LABORALES</b></h5>
  
 <div class="container-fluid">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Paso 1</a></li>
      <li><a href="#profile" role="tab" data-toggle="tab">Paso 2</a></li>
      <li><a href="#messages" role="tab" data-toggle="tab">Paso 3</a></li>
    </ul>

   
    <br>

    <!-- Tab panes 1-->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div class="field">
          <b>Funcionarios </b> 
          <%= f.collection_select :funcionario_id, Funcionario.all, :id, :nombres, class: "form-control", prompt:
         "Seleccione Funcionario" %>
      </div>
   
     <div class="form-group">
       <label for="area_o_proceso" class="col-sm-2 control-label">Área o proceso</label>
       <div class="col-sm-4">
          <%= f.input :area_o_proceso, class: "form-control", label: false %>
       </div>
     </div>

     <div class="field">
    <b>Tipo de incidente</b> <br>
    <%= f.collection_select :tipoincidente_id, Tipoincidente.all, :id, :nombre, class: "form-control", prompt:
    "Seleccione Tipo incidente" %>
  </div>
 

    <div class="field">
      <b>Lugar de ocurrencia:</b> 
      Dentro de la entidad <%= f.radio_button(:lugar_de_ocurrencia, true) %>
      Fuera de la entidad <%= f.radio_button(:lugar_de_ocurrencia, false) %>
   </div>

  <div class="form-group">
    <label for="fecha_del_reporte" class="col-sm-2 control-label">Fecha del reporte</label>
   <div class="col-sm-4">
      <%= f.text_field :fecha_del_reporte, class: 'datepicker' %>
        <script type="text/javascript">
         $('.datepicker').datepicker({
          language: "es",
          format: "yyyy/mm/dd",
          keyboardNavigation:false,
          forceParse:false,
          autoclose:true,
          todayHighlight:true,

        });
       </script>
    </div>
 </div>

  <div class="form-group">
     <label for="hora_del_reporte" class="col-sm-2 control-label">Hora del reporte</label>
     <div class="col-sm-4">
        <%= f.input :hora_del_reporte, class: "form-control", label: false %>
     </div>
  </div>

  <div class="field">
    <b> Personal involucrado</b> 
    <%= f.collection_select :personalinvolucrado_id, Personalinvolucrado.all, :id, :nombre, class: "form-control", prompt:
    "Seleccione personal" %>
  </div> 



</div>

    <!-- Tab panes 2-->
      <div class="tab-pane" id="profile">
           
      <div class="form-group">
       <label for="otro" class="col-sm-2 control-label">Otro</label>
       <div class="col-sm-4">
          <%= f.input :otro, class: "form-control", label: false %>
       </div>
    </div>

<div class="form-group">
   <label for="especifique" class="col-sm-2 control-label">Especifique</label>
   <div class="col-sm-4">
      <%= f.input :especifique, class: "form-control", label: false %>
   </div>
</div>

<div class="form-group">
   <label for="nombre_completo1" class="col-sm-2 control-label">Nombre completo1</label>
   <div class="col-sm-4">
      <%= f.input :nombre_completo1, class: "form-control", label: false %>
   </div>
</div>

<div class="form-group">
   <label for="email1" class="col-sm-2 control-label">Email1</label>
   <div class="col-sm-4">
      <%= f.input :email1, class: "form-control", label: false %>
   </div>
</div>

<div class="form-group">
   <label for="telefono1" class="col-sm-2 control-label">Telefono1</label>
   <div class="col-sm-4">
      <%= f.input :telefono1, class: "form-control", label: false %>
   </div>
</div>

<div class="form-group">
   <label for="nombre_completo2" class="col-sm-2 control-label">Nombre ompleto2</label>
   <div class="col-sm-4">
      <%= f.input :nombre_completo2, class: "form-control", label: false %>
   </div>
</div>
      </div>

       <!-- Tab panes 3-->
   <div class="tab-pane" id="messages">
     <div class="form-group">
       <label for="email2" class="col-sm-2 control-label">Email2</label>
       <div class="col-sm-4">
          <%= f.input :email2, class: "form-control", label: false %>
      </div>
    </div>
 
  <div class="form-group">
     <label for="telefono2" class="col-sm-2 control-label">Telefono2</label>
     <div class="col-sm-4">
        <%= f.input :telefono2, class: "form-control", label: false %>
     </div>
 </div>

  <div class="form-group">
     <label for="descripcion_del_evento" class="col-sm-2 control-label">Descripción del evento</label>
     <div class="col-sm-4">
        <%= f.input :descripcion_del_evento, class: "form-control", label: false %>
     </div>
  </div>

  <div class="form-group">
     <label for="nombre_del_dilenciador" class="col-sm-2 control-label">Nombre del dilenciador</label>
     <div class="col-sm-4">
        <%= f.input :nombre_del_dilenciador, class: "form-control", label: false %>
     </div>
  </div>

<div class="form-group">
   <label for="nombre_de_lider_de_informe" class="col-sm-2 control-label">Nombre de lider de informe</label>
   <div class="col-sm-4">
      <%= f.input :nombre_de_lider_de_informe, class: "form-control", label: false %>
   </div>
</div> 

<div class="form­-group"> 
   <div class="col­-sm­-offset­-2 col-­sm­-10"> 
    <%= f.submit "Guardar", class: "btn btn-info btn-xs" %> 
    <%= link_to 'Atras', incidentes_path, class: "btn btn-default btn-xs" %>
   </div> 
</div> 


</div> 
</div>
</div>

</div>

<% end %>




