<tr id=<%= "incidente_#{incidente.id}" %>>
 
    <td><%= incidente.funcionario.nombres rescue nil %></td>
    <td><%= mostrartipoincidente(incidente.tipoincidente) %></td>
    <td><%= incidente.area_o_proceso %></td>
    <td><%= incidente.fecha_del_reporte %></td>
    <td><%= incidente.personalinvolucrado.nombre rescue nil %></td>
    
    <% if can? :read, incidente%>
      <td><%= link_to 'Ver', incidente, class: "btn btn-success btn-xs" %></td>
    <%end%>

     <% if can? :update, incidente%>
      <td><%= link_to 'Editar', edit_incidente_path(incidente), class: "btn btn-warning btn-xs" %></td>
     <%end%>

    <% if can? :desdtroy, incidente%>
     <td><%= link_to 'Eliminar', incidente, method: :delete, data: { confirm: 'Esta Seguro?' },  class: "btn btn-danger btn-xs" %></td>
     <%end%>

    
</tr>