<div class="index">

<center class="fadeIn"><h1><b>ACCIDENTES</b></h1></center><br><br>
<div class="buscador">
<%= form_tag accidentes_path, :method => 'get' do %>
      <% content_tag :label do %>
        Buscar por fecha de accidente:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar", :fecha_del_accidente => nil %>
      <% end %>
    <% end %>
  </div>
<div class="ctable">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Diligenciador</th>  
      <th>Funcionario</th>
      <th>Fecha del accidente</th>
      <th>Hora del accidente</th>
      <th>Dia de la semana</th>
      <th>Lugar donde ocurrio el at</th>
      <th>Tipo de lesion</th>
      <th>Sitio</th>
      <th>Tipo de accidente</th>
      <th>Parte del cuerpo afectado</th>
      <th>Agente del accidente</th>
      <th>Descripcion del at</th>
      <th>Responsable informe</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @accidentes.each do |accidente| %>
      <tr>
        <td><%= accidente.diligenciador %></td>
        <td><%= accidente.funcionario.nombres rescue nil %></td>
        <td><%= accidente.fchAc %></td>
        <td><%= accidente.hora_del_accidente %></td>
        <td><%= accidente.dia_de_la_semana %></td>
        <td><%= accidente.lugar_donde_ocurrio_el_at %></td>
        <td><%= accidente.tipo_de_lesion %></td>
        <td><%= accidente.sitio %></td>
        <td><%= mostrartipoaccidente(accidente.tipo_de_accidente) %></td>
        <td><%= accidente.parte_del_cuerpo_afectado %></td>
        <td><%= accidente.agente_del_accidente %></td>
        <td><%= accidente.descripcion_del_at %></td>
        <td><%= accidente.responsable_informe %></td>
        
        <% if can? :read, accidente %>
        <td><%= link_to 'Ver', accidente, class: "btn btn-success btn-xs" %></td>
         <%end%>
        <% if can? :update, accidente %>
        <td><%= link_to 'Editar', edit_accidente_path(accidente), class: "btn btn-warning btn-xs" %></td>
         <%end%>
        <% if can? :destroy, accidente %>
        <td><%= link_to 'Eliminar', accidente, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Esta seguro?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :create, @accidente %>
<%= link_to 'Nuevo Accidente', new_accidente_path, class: "btn btn-primary btn-xs" %>
<%end%><br>

<div class="descarga"><p>
<p>
  Descarga:
  <%= link_to "CSV", accidentes_path(format: "csv") %> |
  <%= link_to "Excel", accidentes_path(format: "xls") %>
</p>
</div>

<%= will_paginate @accidentes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
Accidentes: <%= @accidentes.count %>

</div>