<tr class="albm" id=<%= "album_#{album.id}"%>>

  <td><%= album.recomendacion %></td>


  <td><%= link_to image_tag(album.image.url(:medium)), album, remote: true %><br><%= link_to 'Edit', edit_album_path(album), remote: true, class: "btn btn-warning btn-xs" %>
      <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Esta seguro?' }, remote: true,class: "btn btn-danger btn-xs" %> </td>
</tr>