<p id="notice"><%= notice %></p>
<p>
	<strong>Imagen:</strong>
	<%= image_tag @album.image.url(:medium) %>
</p>
<p>
  <strong>Recomendacion:</strong>
  <%= @album.recomendacion %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
