<div class="index">

<center class="fadeIn"><h1><b>RIESGOS</b></h1></center><br><br>

<div class="buscador">
	<%= form_tag riesgos_path, :method => 'get' do %>
	<% content_tag :label do %>
	Empresa:
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Buscar", :name => nil %>
	<% end %>
	<% end %>
</div>

<div class="ctable">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Funcionario</th>
      <th>Fecha</th>
      <th>Tipo de riesgo</th>
      <th>Factor de riesgo</th>
      <th>Efecto conocido</th> 
      <th>Consecuencia</th>
      <th>Exposicion</th> 
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
     <%= render @riesgos %>
  </tbody>
</table>
</div>
<br>
  <% if can? :create, @riesgo %>
   <%= button_to 'Nuevo Riesgo', new_riesgo_path, :method=>"get", class: "btn btn-primary btn-xs" %>
   <%end%><br>

<div class="descarga"><p>
  <p>
    Descarga:
    <%= link_to "CSV", riesgos_path(format: "csv") %> |
    <%= link_to "Excel", riesgos_path(format: "xls") %>
  </p>
</div>

  <%= will_paginate @riesgos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
  Riesgos: <%= @riesgos.count %>
 
</div>