<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>

<Row>
        <Cell><Data ss:Type="INTEGER">id</Data></Cell> 
      <Cell><Data ss:Type="String">empresa</Data></Cell> 
      <Cell><Data ss:Type="INTEGER">funcionario_id</Data></Cell> 
      <Cell><Data ss:Type="Date">fecha</Data></Cell> 
      <Cell><Data ss:Type="String">areadeseccionopuestodetrabajo</Data></Cell> 
      <Cell><Data ss:Type="String">factorderiesgo</Data></Cell> 
      <Cell><Data ss:Type="String ">fuentegeneradora</Data></Cell>    
      <Cell><Data ss:Type="String">efectoconocido</Data></Cell>    
      <Cell><Data ss:Type="String">numerodeexpuestos</Data></Cell> 
      <Cell><Data ss:Type="String"> tiempo</Data></Cell> 
      <Cell><Data ss:Type="String"> controlesexitentes</Data></Cell> 
      <Cell><Data ss:Type="String">controlesrecomendados</Data></Cell> 
     <Cell><Data ss:Type="String">consecuencia</Data></Cell> 
     <Cell><Data ss:Type="String">exposicion</Data></Cell> 
      <Cell><Data ss:Type="String"> factordeponderacion</Data></Cell> 
      <Cell><Data ss:Type="String">repercuciondelriesgo</Data></Cell> 
     <Cell><Data ss:Type="INTEGER"> tiporiesgo_id</Data></Cell> 
     

  
      </Row>
    <% @riesgos.each do |riesgos| %>
      <Row>
      <Cell><Data ss:Type="INTEGER"><%= riesgo.id %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= riesgo.empresa %></Data></Cell> 
      <Cell><Data ss:Type="INTEGER"><%= riesgo.funcionario_id %></Data></Cell> 
      <Cell><Data ss:Type="Date"><%= riesgo.fecha %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= riesgo.areadeseccionopuestodetrabajo %></Data></Cell> 
      <Cell><Data ss:Type="String"> <%= riesgo.hora_del_reporte %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= riesgo.factorderiesgo %></Data></Cell>    
      <Cell><Data ss:Type="String"><%= riesgo.fuentegeneradora %></Data></Cell>    
      <Cell><Data ss:Type="String"><%= riesgo.efectoconocido %></Data></Cell> 
      <Cell><Data ss:Type="String"> <%= riesgo.numerodeexpuestos %></Data></Cell> 
      <Cell><Data ss:Type="String"> <%= riesgo.tiempo %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= riesgo.controlesexitentes %></Data></Cell>
      <Cell><Data ss:Type="String"> <%= riesgo.controlesrecomendados %></Data></Cell> 
      <Cell><Data ss:Type="String"> <%= riesgo.consecuencia%></Data></Cell> 
      <Cell><Data ss:Type="String"> <%= riesgo.exposicion %></Data></Cell> 
      <Cell><Data ss:Type="String"><%= riesgo.factordeponderacion %></Data></Cell>
      <Cell><Data ss:Type="String"> <%= riesgo.repercuciondelriesgo %></Data></Cell> 
      <Cell><Data ss:Type="INTEGER"> <%= riesgo.tiporiesgo_id %></Data></Cell> 

 </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
