<%= form_for(@personalinvolucrado) do |f| %>
  <% if @personalinvolucrado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personalinvolucrado.errors.count, "error") %> prohibited this personalinvolucrado from being saved:</h2>

      <ul>
      <% @personalinvolucrado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
