<div class="formulario" >

<div class="funcionario">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @funcionario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @funcionario.apellidos %>
</p>

<p>
  <strong>Tipodoc:</strong>
  <%= @funcionario.tipodoc.nombre rescue nil%>
</p>

<p>
  <strong>Identificacion:</strong>
  <%= @funcionario.identificacion %>
</p>

<p>
  <strong>Lugar de expedicion:</strong>
  <%= @funcionario.lugar_de_expedicion %>
</p>

<p>
  <strong>Lugar de nacimiento:</strong>
  <%= @funcionario.lugar_de_nacimiento %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @funcionario.fecha_de_nacimiento %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @funcionario.edad %>
</p>

<p>
  <strong>Area:</strong>
  <%= @funcionario.area %>
</p>

 <p>
  <strong>cargo:</strong>
  <%= @funcionario.cargo %>
</p> 
<p>
  <strong>Fecha de ingreso:</strong>
  <%= @funcionario.fecha_de_ingreso %>
</p>

<p>
  <strong>Genero:</strong>
  <%= mostrar_genero(@funcionario.genero) %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @funcionario.telefono %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @funcionario.mail %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @funcionario.centro.nombre rescue nil %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @funcionario.codigo %>
</p>

<p>
  <strong>Eps:</strong>
  <%= @funcionario.eps %>
</p>

<p>
  <strong>Afp:</strong>
  <%= @funcionario.afp %>
</p>

<p>
  <strong>Arl:</strong>
  <%= @funcionario.arl %>
</p>

<p>
  <strong>Antiguedad:</strong>
  <%= @funcionario.antiguedad %>
</p>

<p>
  <strong>Funciones principales:</strong>
  <%= @funcionario.funciones_principales %>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario),:method=>"get", class: "btn btn-warning btn-xs"  %> 
<%= link_to 'Atras', funcionarios_path, class: "btn btn-default btn-xs" %>
<hr>

</div>

</div>

