<h1>Listing tipoenfermedads</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tipoenfermedads.each do |tipoenfermedad| %>
      <tr>
        <td><%= tipoenfermedad.nombre %></td>
        <td><%= link_to 'Show', tipoenfermedad %></td>
        <td><%= link_to 'Edit', edit_tipoenfermedad_path(tipoenfermedad) %></td>
        <td><%= link_to 'Destroy', tipoenfermedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoenfermedad', new_tipoenfermedad_path %>
